
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
    --Very_dark_blue: hsl(233, 47%, 7%);
    --Dark_desaturated_blue: hsl(244, 38%, 16%);
    --Soft_violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly_transparent_white: hsla(0, 0%, 100%, 0.75);
    --Slightly_transparent_white: hsla(0, 0%, 100%, 0.6);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
body {
    background-color: var(--Very_dark_blue);
    display: block;
    width: 100vw;
    height: 100vh;
    color: white;
    border:  1px solid white;
}
























.attribution {font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }